<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('layout/header') %>

        <div class="container m-5">
            <div class="row col-lg-12">
                <% if(message) { %>
                    <div class="alert alert-dismissible fade show alert- <%=message.type %>"role="alert">
                        <button type="button" class="btn-close" aria-label="close" data-bs-dismiss="alert"></button>
                        <strong><%=message.message  %></strong>
                    </div>
                    <% } %>
                <div class="table-responsive">
                    <% if(books !='') {%>
                        <table class="table table-striped text-center">
                            <thead>
                                <tr class="table-dark">
                                    <th>ID</th>
                                    <th>Ảnh</th>
                                    <th>Tên sách</th>
                                    <th>Tác giả</th>
                                    <th>Giá</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% books.forEach((row, index) =>{ %>
                                    <tr class="align middle">
                                        <td>
                                            <%= index %>
                                        </td>
                                        <td>
                                            <img src="<%= row.image %>" width="50" class="img-thumbnail">
                                        </td>
                                        <td>
                                            <%= row.name %>
                                        </td>
                                        <td>
                                            <%=row.author %>
                                        </td>
                                        <td>
                                            <%=row.price %>
                                        </td>
                                        <td>
                                            <a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                            <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h1 class="class text-center text-secondary mt-5">No books found in the database </h1>
                        <% } %>
                </div>
            </div>
        </div>

<%- include('layout/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>